@{
    Layout = "_LayoutAdmin";
}
<div class="text-center">
    <h2 class="display-4"><b>Gökce Auto</b></h2>
    <p><em>"Yolların Keyfini Bizimle Çıkar!"</em></p>
</div>

<div class="text-center">
    <h2>Araçlarımız</h2>
    <div>
        <img src="/CarPage/toyota corolla.jpg" alt="Toyota Corolla" width="500" />
        <p><b> Toyota Corolla</b></p>
    </div>
    <div>
        <img src="/CarPage/i7-sedandigertaraf.jpg" alt="BMW i7" width="700" />
        <p><b>BMW i7</b></p>
    </div>
    <div>
        <img src="/CarPage/Ekran görüntüsü 2024-12-26 210134.jpg" alt="Renault Taliant 1.0 Joy" width="500" />
        <p><b>Renault Taliant 1.0 Joy</b></p>
    </div>
    <div>
        <img src="/CarPage/2025-porsche-911-carreraa.jpg" alt="Porsche 911 Carrera" width="700" />
        <p><b>Porsche 911 Carrera</b></p>
    </div>
    <div>
        <img src="/CarPage/Porsche_911_Carrera_S_Cabriolet_2022.jpg" alt="Porsche 911 Carrera S Cabriolet 2022" width="500" />
        <p><b>Porsche 911 CarreraS Cabriolet 2022</b></p>
    </div>
</div>
